{
  "useTabs": false,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.{json,yaml,yml,prettierrc}",
      "options": {
        "tabWidth": 2,
        "printWidth": 200
      }
    }
  ]
}
